body{
    background-color: #3f3483;
    color: white;
    font-family: Helvetica, sans-serif;
}

.myNav input[type="text"]::placeholder {
    color: white; /* Couleur du texte du placeholder */
}
header .myNav{
    position: fixed; /* Fixer la barre de navigation en haut de la page */
    width: 100%;
    z-index: 999; 
    box-sizing: border-box;
}
.myNav input[type="text"]{
    height: 25px; 
    width: 200px;    
    background-color: #312b55;
    color: antiquewhite;
    border-radius: 5px;
    border-color: #7263cf;
}

input[type="button"], button{
    height: 30px; 
    width: 100px;    
    background-color: #7263cf;
    color: antiquewhite;
    border-radius: 5px;
}

.hero a{
    color: aliceblue;
    text-decoration: none;
}

.hero{
    position: relative;
}


.hero img{
    width: 100%;
}

.hero div{
    margin: 10px 0;
}

.hero > div{
    position: absolute;
    top: 30%;
    left: 5%;
    right: 50%;
}

.hero div:first-child a{
    font-size: x-large;
    color: #7263cf;
}

.hero div> div > p{
    display: inline;
    margin: 10px;
}

.hero h3{
    font-size: 4rem;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
}

.images{
    display: grid;
    margin: 10px;
    column-span: 3;
}

.section {
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin:0 20px;
}


.btn {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(#e66465, #9198e5);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

nav a:hover{
    background-color: aqua;
}

footer a:hover {
    color: aqua; 
    text-decoration: none; 
}
footer ul li:nth-child(1) {
    color: red;
}
button:hover , input[type='button']:hover{
    background-color: aqua  ;
}


.myNav{
    padding: 10px;
     
}

.myNav a{
    font-size: xx-large;
    color: aliceblue;
    text-decoration: none;
    margin-right: 50px;
}

.myNav select{
    margin: 0 20px;
}
.myNav ul li:last-child{
    margin-right: 29%;
}

.myNav ul,
.myNav ul li {
    display: inline; 
    margin-right: 10px; 
}

footer{
    background-color: #ffcaca;
    padding: 20px;
}
footer div{
    box-sizing: border-box; 
    padding: 10px;
}

.first-line div{
    display: inline-block; 
    margin-right: 350px;
}
.first-line div:last-child{ 
    margin-right: 0;
}

.second-line ul li{
    display: inline;
    margin-right: 20px;
}

.second-line div{
    display: inline-block; 
    margin-right: 600px;
}
.second-line div:last-child{ 
    margin-right: 0;
}