
p::first-letter {
  font-size: 24px;
  font-style: italic;
  float: left;
}

/* Pseudo-Element: Adds a subtle shadow around images */

img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}